<template>
  <div>
    <div class="header">
      <h1 class="header__title">Legato</h1>
    </div>

    <h2 v-if="paid">
      Успешно оплачено! Работа по вашей заявке ведётся.
    </h2>
    <div v-else-if="isExpired" class="cards">
      <file-input
        v-for="(item, key) in fileList"
        v-if="!isPaymentState"
        :key="key"
        :ref="`dropzone_${key}`"
        :title="item.title"
        :type="item.type"
        :required="item.required"
      />
      <button
        v-if="isLoaded && !isPaymentState"
        id="submit-btn"
        type="button"
        class="btn btn-success btn-lg"
        style="margin: 20px auto"
        @click="handleClick"
      >
        Подтвердить
      </button>

      <div v-if="isPaymentState" class="card">
        <h2>Заявка принята, необходимо оплатить</h2>
        <button
          id="payment-btn"
          type="button"
          class="btn btn-success btn-lg"
          style="margin: 20px auto"
          @click="handlePayment"
        >
          Оплатить
        </button>
      </div>
    </div>
    <h2 v-else>
      Сессия завершена, сформируйте новую заявку
    </h2>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import FileInput from '@/components/FileInput/index'
  import { addJobToQueue, getPage, setPaid, setPaymentType } from '@/api/page'

  import _ from 'lodash'

  export default {
  name: "Page",
  beforeRouteEnter(to, from, next) {
    if (!_.isEmpty(to.query.ID_USER) && !_.isEmpty(to.query.ID_REQUEST)) {
      next();
    } else {
      next("/404");
    }
  },
  components: {
    FileInput
  },
  data() {
    return {
      isExpired: false,
      isPaymentState: false,
      paid: false,
      type: null,
      isValid: null,
      isStart: true,
      goNext: false
    };
  },
  computed: {
    ...mapGetters("app", [
      "page_id",
      "is_error",
      "files",
      "valid",
      "uploadSuccess"
    ]),
    isLoaded() {
      return !_.isEmpty(this.fileList);
    },
    fileList: {
      get() {
        return this.files;
      }
    }
  },
  watch: {
    goNext(val) {
      if (val) {
        if (this.uploadSuccess) {
          setPaymentType(this.page_id).then(_ => {
            this.isPaymentState = true;
            addJobToQueue(this.page_id);
          });
        } else {
          this.$swal.fire({
            title: "Что-то пошло не так...",
            type: "error",
            text:
              "Ошибка загрузки файлов, перезагрузите страницу и попробуйте ещё раз."
          });
        }
      }
    }
  },
  created() {
    getPage(
      this.$route.query.ID_REQUEST,
      this.$route.query.ID_USER,
      this.$route.query.TYPE
    )
      .then(({ data }) => {
        this.setPageId(data.page_id).then(() => {
          this.isExpired = !data.expired;
          this.paid = data.paid;
          this.isPaymentState = data.isPaymentState;
          this.type = data.type;
        });

        this.setFileList(data.type).catch(() => {
          this.$router.push("/500");
        });
      })
      .catch(() => {
        this.$router.push("/500");
      });
  },
  methods: {
    ...mapActions("app", ["setPageId", "setFileList"]),
    handleClick() {
      if (this.valid) {
        this.goNext = true;
      } else {
        this.$swal.fire({
          title: "Внимание!",
          text: "Заполните все обязательные файлы!",
          type: "warning"
        });
      }
    },
    handlePayment() {
      setPaid(this.page_id).then(({ data }) => {
        if (data.success) {
          this.$swal.fire({
            type: "success",
            text: "Успешно оплачено",
            title: "Успех!"
          });
          this.paid = true;
        } else {
          this.$swal.fire({
            title: "Что-то пошло не так...",
            type: "error",
            text: "Ошибка сохранения оплаты"
          });
        }
      });
    }
  }
};
</script>

<style lang="scss">
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

$light-gray: #eceef1;
$gray: darken($light-gray, 30%);
$slate: darken($light-gray, 70%);
$turquoise: #1abc9c;

body {
  background: $light-gray;
  font-family: "Slabo 27px", serif;
  color: $slate;
}

.header {
  padding: 30px 30px 0;
  text-align: center;

  &__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1.1;
  }
}

.cards {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}

//Cards
.card {
  margin: 15px;
  width: 100%;
  transition: all 0.2s ease-in-out;

  &__inner {
    padding: 30px;
    position: relative;

    background-color: $gray;
    color: $light-gray;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;

    transition: all 0.2s ease-in-out;

    &:after {
      transition: all 0.3s ease-in-out;
    }

    .fa {
      width: 100%;
      margin-top: 0.25em;
    }

    #dropzone {
      margin-top: 10px;
      border: 2px dashed #e5e5e5;

      .dz-remove {
        padding: 5px;
      }
    }
  }

  &__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.1;
  }
}

@import "../assets/scss/bootstrap/bootstrap";
</style>
