<template>
  <div class="errPage-container">
    <el-button icon="arrow-left" class="pan-back-btn" @click="back">
      Назад
    </el-button>
    <div class="grid-container">
      <div class="col1">
        <h1 class="text-jumbo text-ginormous">Упс!</h1>
        <h2>У вас нет доступа на эту страницу</h2>
        <h6>Если вы не довольны, то можете написать администратору</h6>
        <ul class="list-unstyled">
          <li>Или можете:</li>
          <li class="link-type">
            <router-link to="/">Вернуться на главную</router-link>
          </li>
        </ul>
      </div>
      <div class="col2">
        <img
          :src="errGif"
          width="313"
          height="428"
          alt="Девочка роняет её мороженное."
        />
      </div>
    </div>
  </div>
</template>

<script>
  import errGif from '@/assets/401_images/401.gif'

  export default {
  name: "Page401",
  data() {
    return {
      errGif: errGif + "?" + new Date(),
      dialogVisible: false
    };
  },
  methods: {
    back() {
      if (this.$route.query.noGoBack) {
        this.$router.push({ path: "/" });
      } else {
        this.$router.go(-1);
      }
    }
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "col1 col2";
}

.col1 {
  grid-area: col1;
}

.col2 {
  grid-area: col2;
}

@media all and (-ms-high-contrast: none) {
  .grid-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
  }

  .col1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-col: 1;
    -ms-grid-col-span: 1;
  }

  .col2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-col: 2;
    -ms-grid-col-span: 1;
  }
}

.errPage-container {
  width: 800px;
  max-width: 100%;
  margin: 100px auto;

  .pan-back-btn {
    background: #008489;
    color: #fff;
    border: none !important;
  }

  .pan-gif {
    margin: 0 auto;
    display: block;
  }

  .pan-img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .text-jumbo {
    font-size: 60px;
    font-weight: 700;
    color: #484848;
  }

  .list-unstyled {
    font-size: 14px;

    li {
      padding-bottom: 5px;
    }

    a {
      color: #008489;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
</style>
