<template>
  <div class="card">
    <div class="card__inner">
      <span
        :class="{ required: required, card__title: true }"
        :title="titleText"
      >
        {{ title }}
      </span>
      <vue-dropzone
        id="dropzone"
        ref="dropzone"
        :duplicate-check="true"
        :options="dropzoneOptions"
        :data-type="type"
        @vdropzone-file-added="afterAdded"
        @vdropzone-removed-file="afterRemoved"
        @vdropzone-duplicate-file="handleDuplicate"
        @vdropzone-error="handleError"
        @vdropzone-queue-complete="handleQueueComplete"
      >
      </vue-dropzone>
    </div>
  </div>
</template>

<script>
  import { mapActions, mapState } from 'vuex'
  import store from '@/store/store'
  import VueDropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.min.css'
  import localRu from './local-ru'

  export default {
  name: "FileInput",
  components: { VueDropzone },
  props: {
    title: {
      type: String,
      required: true
    },
    type: {
      type: String,
      required: true
    },
    required: Boolean
  },
  data() {
    return {
      dropzoneOptions: {
        url: "/api/file",
        params: {
          type: this.type
        },
        thumbnailWidth: 200,
        maxFilesize: 5,
        addRemoveLinks: true,
        acceptedFiles: ".pdf,.jpg,.jpeg,.png,.tiff",
        ...localRu
      }
    };
  },
  computed: {
    ...mapState("app", ["files", "page_id", "is_error"]),
    titleText() {
      return this.required ? "Это обязательное поле" : "";
    }
  },
  mounted() {
    this.$refs.dropzone.options.params.page_id = store.getters["app/page_id"];
  },
  methods: {
    ...mapActions("app", ["updateState", "setIsError", "setUploadState"]),
    afterAdded() {
      this.updateState({ type: this.type, value: 1 });
    },
    afterRemoved() {
      this.updateState({ type: this.type, value: -1 });
    },
    handleError() {
      this.setIsError(true);
    },
    handleQueueComplete() {
      if (!this.is_error) {
        this.setUploadState({ type: this.type, bool: true });
      } else {
        this.setUploadState({ type: this.type, bool: false });
      }
    },
    handleDuplicate() {
      this.$swal.fire({
        title: "Дубликат файла...",
        type: "warning",
        text: "Файл с таким именем уже есть"
      });
    }
  }
};
</script>

<style scoped>
.required:after {
  content: "*";
  font-weight: bold;
  color: red;
}
</style>
